@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Livvic";
    src: url("../fonts/Livvic-Thin.ttf");
    src: url("../fonts/Livvic-Regular.ttf");
}

@font-face {
    font-family: "CaveatBrush";
    src: url("../fonts/CaveatBrush-Regular.ttf");
}


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?fx0v7z');
    src:  url('fonts/icomoon.eot?fx0v7z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fx0v7z') format('truetype'),
    url('fonts/icomoon.woff?fx0v7z') format('woff'),
    url('fonts/icomoon.svg?fx0v7z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\f095";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-location-arrow:before {
    content: "\f124";
}